.navbar-home {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slogan {
    color: white;
    margin-left: 70px;
}

.jumbotron-home {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}