.navbar-home {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slogan {
    color: white;
    margin-left: 70px;
}

.jumbotron-home {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}

.ui-face {
    max-height: 35px;
}

.navbar-inverse .navbar-nav>li>a {
    font-weight: 700;
    font-size: 14px;
}

.dropdown-menu {
    font-size: 14px;
}

.interaction .spacing {
    margin-bottom: 30px;
}

.date-flag {
    height: 150px;
    background-color: #4caf50;
    top: -35px;
    position: relative;
    webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.date-span {
    color: #ffffff;
    padding-top: 25px;
}

.resultado-btn {
    padding: 1px;
    width: 100%;
    height: 50px;
}

.link-new-survey {
    cursor: pointer;
}

.link-new-survey:hover {
    text-decoration: none;
}

.link-new-survey:hover div {
    text-decoration: none;
    background: #4caf50;
}

.link-new-survey:hover h4 {
    text-decoration: none;
    color: #ffffff;
}

.label-survey {
    margin-right: 5px;
}

.label-as-badge {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}