<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo_e_se_branco.png" alt="logotipo"> </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Olá, Hilton <span class="caret"></span>
                            &nbsp;
                            <img class="ui-face img-circle" alt="" src="img/placeholder.png">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Account/Index"><i class="fa fa-user"></i> Ver perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Account/Edit"><i class="fa fa-pencil"></i> Editar perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Account/Settings"><i class="fa fa-cog"></i> Configurações</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="rv-logout"><a href="#" rv-on-click="submit"><i class="fa fa-sign-out"></i>
                                Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="interaction" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;"
      ng-init="initIndex()">
    <div class="container">
        <div class="row">
            <div class="col-md-8 pending-surveys">
                <div></div>
                <div class="spacing"></div>
                <div class="list-group">
                    <div class="post-form">
                        <div class="panel panel-default panel-post">
                            <a class="link-new-survey" ng-click="newSurvey()">
                                <div class="panel-body">
                                    <h4 class="text-center"><i class="fa fa-pencil-square-o"></i>&nbsp;Escrever nova
                                        pesquisa&nbsp;</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div ng-repeat="pesquisa in pesquisas">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="col-md-2">
                                    <div class="text-center date-flag">
                                        <h4 class="date-span"><strong>{{pesquisa.criacao | date: "dd/MM"}}</strong></h4>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <label ng-repeat="tag in pesquisa.tags"
                                               class="label label-primary label-as-badge label-survey">{{tag}}</label>
                                    </div>
                                    <div class="row">
                                        <h3>e se .. {{pesquisa.titulo}}</h3>
                                        <h4>{{pesquisa.texto}}</h4>
                                    </div>
                                    <div class="row">
                                        <button class="btn btn-lg btn-danger"><i
                                                class="glyphicon glyphicon-thumbs-down"></i>&nbsp;Ruim
                                        </button>
                                        <button class="btn btn-lg btn-success pull-right">Boa idéia&nbsp;<i
                                                class="glyphicon glyphicon-thumbs-up"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacing"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase">Pesquisas passadas</h4>

                <div class="list-group">
                    <div class="list-group-item" ng-repeat="pesquisaPassada in pesquisasPassadas">
                        <div class="media">
                            <div class="media-body">
                                <small>{{pesquisaPassada.criacao | date: "dd MMM"}}</small>
                                <h4 class="media-heading">
                                    e se .. {{pesquisaPassada.titulo}}
                                </h4>

                                <div class="resultado-btn">
                                    <button class="btn btn-lg btn-default pull-right">Ver resultado</button>
                                </div>
                            </div>
                        </div>
                        <div class="spacing"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>