<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/logo_e_se.png" alt="logotipo"> </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
    </div>
</nav>

<main>
    <section class="login-form wow center-block" data-wow-duration="1s"
             style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <br>
                    <div class="spacing"></div>

                    <div class="form-group">
                        <p class="text-center"><strong>Faça login através do seu e-mail</strong></p>
                    </div>

                    <form name="loginForm" ng-controller="LoginController">
                        <div class="form-group" ng-class="validacaoEmail">
                            <input type="email" name="email" ng-model="email"
                                   class="form-control" placeholder="E-mail" required>
                            <div class="help-block" ng-class="emailError">
                                <span>informe seu e-mail</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="validacaoPass">
                            <input type="password" ng-model="password"
                                   class="form-control" placeholder="Senha" required>
                            <div class="help-block" ng-class="passwordError">
                                <span>informe sua senha</span>
                            </div>
                        </div>
                        <div class="help-block text-center" ng-class="validacao">
                            <span class="text-danger">e-mail e ou senha inválidos.</span>
                        </div>

                        <div class="form-group">
                            <button type="submit" ng-click="login()" class="btn btn-lg btn-primary center-block" >Entrar&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
                        </div>

                    </form>

                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</main>

<footer class="footer wow fadeIn" data-wow-duration="2s"
         style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">
    <div class="container">

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <ul class="list-unstyled list-inline ">
                    <li class="pull-right hidden-xs"><em>Copyright ©2016 What-If. Direitos Reservados</em></li>
                    <li class="text-center visible-xs"><em>Copyright ©2016 What-If. Direitos Reservados</em></li>
                </ul>
            </div>
        </div>
    </div>
</footer>