<nav class="navbar navbar-home">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/logo_e_se.png" alt="logotipo"> </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
    </div>
</nav>
<section class="slogan">
    <div class="jumbotron jumbotron-home hidden-xs"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeIn" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">
                <h1 class="">
                    <strong>
                        Inspire as pessoas <br>
                        com experiências, <br>
                        ideias e opiniões.
                    </strong>
                </h1>
                <div class="space"></div>
                <h5 style="max-width:430px">Compartilhe opiniões, discuta ideias e responda pesquisas de maneira simples e divertida.</h5>
                <div class="space"></div>

                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>

                <h5><a ui-sref="login"> Fazer Login.</a></h5>
            </div>
        </div>
    </div>
</section>
<section class="footer wow fadeIn" data-wow-duration="2s"
         style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">
    <div class="container">

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <ul class="list-unstyled list-inline ">
                    <li class="pull-right hidden-xs"><em>Copyright ©2016 What-If. Direitos Reservados</em></li>
                    <li class="text-center visible-xs"><em>Copyright ©2016 What-If. Direitos Reservados</em></li>
                </ul>
            </div>
        </div>
    </div>
</section>